.subscribe{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}
.subscribe p{
    color: var(--purple);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.inscricoes h2{
    color: var(--purple);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.inscricoes a{
    color: var(--purple);
    font-size: 96px;
    font-weight: 400;
    margin-bottom: 20px;
}

.subscribe .main-text h3{
    color: var(--purple);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.subscribe .dotted {
    margin: 16rem auto;
    height: 60vh;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/dotted.svg);
    position: relative;
    
}.subscribe .dotted iframe {
    border-radius: 12px;
    position: relative;
    z-index: 2;
}

.subscribe .secondary {
    position: absolute;
    transform: translateX(12rem) translateY(-12rem);
    z-index: 1;
}

@media (max-width: 1024px){
   
    .dotted .secondary{
        display: none;
    } 
   .inscricoes a{
        font-size: 80px;
        font-weight: 70px;
   }
}

@media (max-width: 768px ) {
    .dotted .secondary{
        display: none;
    } 
    
}