.subscribe{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}
.subscribe p{
    color: var(--purple);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.inscricoes h2{
    color: var(--purple);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.inscricoes a{
    color: var(--purple);
    font-size: 96px;
    font-weight: 400;
    margin-bottom: 20px;
}

.subscribe .main-text h3{
    color: var(--purple);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}